name: PR workflow

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: go

    - name: Check out code
      uses: actions/checkout@v2

    - name: Install Protoc
      uses: arduino/setup-protoc@master

    - name: Get dependencies
      run: go get -t -v -d ./...

    - name: Get protoc go binaries
      run: |
        go install \
          github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway \
          github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2 \
          google.golang.org/protobuf/cmd/protoc-gen-go \
          google.golang.org/grpc/cmd/protoc-gen-go-grpc

    - name: Genereate code for infrabin protofile
      run: make protoc

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v0.2.0
      with:
        version: v1.26

    - name: Build
      run: go build main.go

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

    - name: Test
      run: go test -v -covermode=atomic -coverprofile=coverage.out -race ./...

    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: coverage.out
        ignore: pkg/infrabin/infrabin.pb.go,pkg/infrabin/infrabin.pb.gw.go,pkg/infrabin/infrabin_grpc.pb.go

    - name: Build docker image on PR
      uses: docker/build-push-action@v1
      with:
        repository: maruina/go-infrabin
        push: false
      if: github.event_name == 'pull_request'

    - name: Build and push latest docker image on master
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: maruina/go-infrabin
        tags: latest
      if: github.event_name	== 'push'
