name: Release workflow

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25

    - name: Check out code
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Get protoc go binaries
      run: make tools

    - name: Genereate code for infrabin protofile
      run: make protoc

    - name: Get tag
      uses: olegtarasov/get-tag@v2.1
      id: tagName

    - name: Login to DockerHub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Login to GitHub Packages
      uses: docker/login-action@v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push tagged docker image on master
      uses: docker/build-push-action@v6.18.0
      with:
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          docker.io/maruina/go-infrabin:${{ steps.tagName.outputs.tag }}
          ghcr.io/maruina/go-infrabin:${{ steps.tagName.outputs.tag }}

    - name: Check images
      run: |
        docker buildx imagetools inspect docker.io/maruina/go-infrabin:${{ steps.tagName.outputs.tag }}
        docker buildx imagetools inspect ghcr.io/maruina/go-infrabin:${{ steps.tagName.outputs.tag }}

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v6.4.0
      with:
        version: '~> v2'
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
